
.main-header .main-menu .navbar-collapse > ul > li {
    margin-left: 40px;
}

.poster {
    margin-bottom: 20px;
}

.poster img {
    width: 100%;
    height: 350px;
}

.reset {
    /*position: */
    min-height: auto !important;
    display: table;
    padding-bottom: 0 !important;
    padding-top: 0;
}

.main-header .main-menu .navbar-collapse > ul > li > ul > li:hover > ul {
    left: -100% !important;
}

.logo img {
    max-width: 180px;
}

.main-header .header-lower .logo a img {
    width: 180px;
}

.main-header .main-menu .navbar-collapse > ul > li > a {
    background: none;
}

.main-header .main-menu .navbar-collapse > ul > li:hover > a,
.main-header .main-menu .navbar-collapse > ul > li.current > a,
.main-header .main-menu .navbar-collapse > ul > li.current-menu-item > a {
    color: #C7B134;
}

.tri-line span {
    background: #3494D1 !important;
}

#side-navigation .toggle-nav {
    background: #3494D1;
    border: 1px solid #3494D1;
}

.default-banner .dark-btn {
    background-color: #3494D1;
    color: #fff;
    border: 2px solid #3494D1 !important;
}

.default-banner .light-btn {
    border: 2px solid #3494D1 !important;
    color: #fff;
}

.main-slider .tp-bullets.preview4 .bullet:hover,
.main-slider .tp-bullets.preview4 .bullet.selected {
    border: 2px solid #3494D1 !important;
}

.contact-section button {
    background: #3494D1;
}

.contact-section button:before {
    background: #C7B134 !important;
}

.main-header .main-menu .navbar-collapse > ul > li > ul,
.main-header .main-menu .navbar-collapse > ul > li > ul > li > ul {
    background: #3494D1;
}

.main-header .main-menu .navbar-collapse > ul > li > ul:before {
    color: #3494D1;
}

.bread-crumb a,
.bread-crumb .fa {
    color: #C7B134;
}

.tabs-box .tab-buttons .tab-btn.active-btn,
.tabs-box .tab-buttons .tab-btn:hover {
    background: #3494D1;
    border-color: #3494D1;
}

.tabs-box .tab-buttons .tab-btn .icon span {
    color: #C7B134;
}

.newsletter button,
.pagination > li.active > a,
.pagination > li.active > span,
.faq .faq-content .faq-search input[type=submit] {
    background: #3494D1;
    border-color: #3494D1;
}

.scroll-to-top {
    background: #3494D1;
    border: 1px solid #3494D1;
    color: #fff;
}

.scroll-to-top:hover,
.pagination > li > a:hover {
    background-color: #C7B134;
    border-color: #C7B134;
}
.modal-dialog{
    top: 15%;
}

.modal-footer button{
    margin-top: 15px;
}

@media screen and (min-width: 1001px) {
    #side-navigation {
        display: none;
    }
}
